{% extends 'base.html.twig' %}

{% block title %}Restaurant - Carte{% endblock %}

{% block content %}
    <a class=retourBtn href="/carte">Retour</a>
    <ul>
            <li id="carteCat">
                <h1>{{ category.name }} :</h1>
                <ul>
                    {% for dish in dishes %}
                        {% if dish.category.id == category.id %}
                            <li>
                                <p>{{ dish.name }} - {{ dish.price }}€ - {{ dish.calories }}kcal</p>
                                <h5>Allergènes :</h5>
                                <p>
                                {% for allergen in dish.allergens %}
                                    {{ allergen.name }}
                                {% else %}
                                    Pas d'allergènes !
                                {% endfor %}
                                </p>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
    </ul>
{% endblock %}